@model ena3.Models.ResimFilomuz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResimFilomuz</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.filoResimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filoResimUrl)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.aracAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aracAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ozellik8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ozellik8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.durum2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum2)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
