@model ena3.Models.ResimReferans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResimReferans</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.referansResimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referansResimUrl)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.referansResimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referansResimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
