@model ena3.Models.ResimFilomuz



<h2>Yeni Filo Ekle</h2>


@try
{
<form method="post" enctype="multipart/form-data" class="form-horizontal">


    @TempData["result"]
    <div class="form-group">
        <input type="file" name="yuklenecekDosya" />
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.aracAdi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.aracAdi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aracAdi, "", new { @class = "text-danger" })
        </div>
    </div>*@


    <div class="form-group">
        @Html.LabelFor(model => model.aracAdi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.aracAdi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aracAdi, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.ozellik1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik4, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik5, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik5, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik5, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik6, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik6, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik6, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik7, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik7, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik7, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ozellik8, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ozellik8, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ozellik8, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.durum)
                @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.durum2, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.durum2)
                @Html.ValidationMessageFor(model => model.durum2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
  
        <input type="submit" value="Yükle" />
 
</form>

}

catch (Exception E)
{ }


